@media screen and (max-width: 850px){
  .box{
    min-width: 750px;
  }
  .box .content{
    width: 500px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1200px){
  .box{
    min-width: 850px;
  }
  .box .content{
    width: 600px;
  }
}
@media screen and (min-width: 1200px){
  .box{
    min-width: 1200px;
    max-width: 1500px;
  }
  .box .content{
    width: 950px;
  }
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.jumbotron{
  min-width: 750px;
}

.box{
  position: relative;
}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
}
.box .content {
  padding: 0;
  float: left;
  margin-bottom: 30px;
  display: block;
  background-color: white;
}
.content .title{
  width: 100%;
  padding-left: 5px;
  height:31px;
  line-height: 31px;
  text-align: left;
}
.content .title a{
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color:red;
}
.content .wrap{
  width: 100%;
  height: 62px;
  padding-left: 10px;
  background-color: #00BAF0;
}
.wrap div{
  display: flex;
  height: 31px;
  width: 100%;
}
.content .wrap span{
  height: 100%;
  line-height: 31px;
  color: white
}
.wrap span:first-of-type{
  width: 10%;
}
.content .center{
  padding: 5px;
  width: 100%;
  min-height: 130px;
  max-height: 202px;
  line-height: 22px;
  letter-spacing:2px;
  text-indent:2em;
  font-size: 16px;
  word-break:break-all;
  display:-webkit-box;
  -webkit-line-clamp:9;
  -webkit-box-orient:vertical;
  overflow:hidden;
}
.content .bottom{
  width: 100%;
  height: 18px;

}
.content .bottom a{
  line-height: 18px;
  background-color:rgba(204,204,204,0.5);
  float: right;
  cursor: pointer;
  text-decoration: none;
}
.right{
  box-sizing: border-box;
  float: right;
  width: 250px;
  padding-left: 15px;
}
.right .blog_box{
  width: 100%;
  margin-bottom: 30px;
}
.blog_box .blog_title{
  width: 100%;
  height: 30px;
  border-bottom: 3px solid #0ae;
  font-size: 18px;
  line-height: 30px;
  color: #00AAEE;
}
.blog_box .blog_user{
  width: 100%;

  margin: 3px 0;
}
.blog_user .blog_user_tab tr{
  display: flex;
  margin-bottom: 10px;
}
.userAvator img:first-of-type{
  width: 100px;
  height: 100px;
}
.block{
  display: block;
}